# Bright Academy Student Analysis and Grade Predicition

#### Problem Definition :
BrightPath Academy has a problem identifing at risk students early enough, which hinders their ablity to provide personalized support to students on time.Although they have collected data on their students. This data includes various aspects of the students life that could be affecting their performance in class, like extracurricular activites, parental involvment academic performance, study habits and more.However they lack the insights about the data to help solve this problem

#### Hypothesis : 
1. Students with lower study hours  will have lower GPAS 
2. Students with low to none parental involvment will have lower GPS's on average 
3. Students with Higher Absences will have lower GPA's on average
4. Students engaging in tutuoring will have a higher average than those who are not 
## add more if you can think of them 

### Features of data : 
- Student Information
- -  StudentID: A unique identifier assigned to each student (1001 to 3392).

- Demographic details
    - Age: The age of the students ranges from 15 to 18 years.
    - Gender: Gender of the students, where 0 represents Male and 1 represents Female.
    - Ethnicity: The ethnicity of the students, coded as follows:
        - 0: Caucasian
        - 1: African American
        - 2: Asian
        - 3: Other

- ParentalEducation: The education level of the parents, coded as follows:
    - 0: None
    - 1: High School
    - 2: Some College
    - 3: Bachelor's
    - 4: Higher Study

- Study Habits
    - StudyTimeWeekly: Weekly study time in hours, ranging from 0 to 20.
    - Absences: Number of absences during the school year, ranging from 0 to 30.
    - Tutoring: Tutoring status, where 0 indicates No and 1 indicates Yes.

- Parental Involvement
    - ParentalSupport: The level of parental support, coded as follows:
        - 0: None
        - 1: Low
        - 2: Moderate
        - 3: High
        - 4: Very High

- Extracurricular Activities
    - Extracurricular: Participation in extracurricular activities, where 0 indicates No and 1 indicates Yes.
        - Sports: Participation in sports, where 0 indicates No and 1 indicates Yes.
        - Music: Participation in music activities, where 0 indicates No and 1 indicates Yes.
        - Volunteering: Participation in volunteering, where 0 indicates No and 1 indicates
Yes.

- Academic Performance
    - GPA: Grade Point Average on a scale from 2.0 to 4.0, influenced by study habits,
parental involvement, and extracurricular activities.

- Target Variable: Grade Class
    - GradeClass: Classification of students' grades based on GPA:
        - 0: 'A' (GPA >= 3.5)
        - 1: 'B' (3.0 <= GPA < 3.5)
        - 2: 'C' (2.5 <= GPA < 3.0)
        - 3: 'D' (2.0 <= GPA < 2.5) 
        - 4: 'F' (GPA < 2.0)

In [ ]:
# importing all the revelant tools we'll need throughout the project
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Importing the Data 

df = pd.read_csv('./data/Student_performance_data .csv') ## df stands for dataframe created using pandas
df.head(10) ## showing the first 10 rows in the data frame.

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

## Understanding the Data 
- We'll start by getting  basic information about the data usnig some methods prevelant in the pandas library.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [ ]:
df.describe() ## gettins some descriptive statistics about the data

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In [7]:
df.isna().sum() ## checking if any of the columns are null so we can think about how to tackle them further down in the notebook

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

## Exploratory Data Analysis
- We'll be explore the date in the following ways 
    - univariate analysis ( exploring 1 variable at a time )
    - bivariate analysis ( exploring 2 variables at a time )
    - using plots to visualize relationships between variables to find some sort of patterns before modelling

In [1]:
## Start EDA FROM HERE 
## eda should answer all the hypthoses questions by creating graphs or using comparisons between avereags, sums, counts etc.

## Missing value and Outlier Treatment

In [9]:
## Handle missing values and outliers from here

# Evaluation Metrics for classification problem

In [11]:
## handle metrics from here

## Feature engineering

In [ ]:
## handle  faeture engineering from here

## Model Building: Part 1 Model Building: Part 1 (Apply baseline machine learning classification algorithms:
Logistic Regression, Random Forest, and XGBoost with step 8)

In [12]:
## from here

## Model building: part 2 (Apply Deep Learning classification algorithm with step 8)

In [13]:
## from here

## Conclusion 
- what the data showed us 
- best model 
- suggestions and recommendations  moving forward